.result-box {
  // border: 1px solid black;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}

#yourbmi {
  color: #2b2d42;
  font-size: 32px;
  float: left;
}

h3 {
  margin: 20px 0px 0px 25px;
  font-size: 40px;
  color: #ef233c;
  // color: ;
}
